.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

img {
  max-width: 100%;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-weight: 300; }
  @media (min-width: 535px) {
    body {
      position: relative; } }

@media (min-width: 535px) {
  nav {
    position: absolute;
    top: 141px;
    left: 0; } }

ul {
  list-style: none;
  padding-left: 0; }

h1 {
  font-weight: 300;
  color: white;
  text-transform: uppercase; }
  h1 a {
    color: white; }

h2, h3 {
  font-weight: 300;
  text-transform: lowercase; }

a {
  text-decoration: none;
  color: black; }

.wrapper {
  padding: 0 3%; }
  @media (min-width: 535px) {
    .wrapper {
      padding-left: 25%; } }
  @media (min-width: 950px) {
    .wrapper {
      padding-right: 7%; } }

header {
  background-color: black;
  padding: 1.5em 0; }
  header h1 {
    text-align: center;
    font-size: .9em;
    letter-spacing: 4px; }
    @media (min-width: 535px) {
      header h1 {
        text-align: left; } }
  @media (min-width: 535px) {
    header {
      margin-bottom: 4em; } }

nav {
  padding: 0 3%;
  margin-bottom: 4em; }
  @media (min-width: 950px) {
    nav {
      padding: 0 7%; } }
  nav ul {
    margin: .3em 0; }
    @media (min-width: 535px) {
      nav ul {
        width: 25%; } }
  nav li {
    padding: .55em 0;
    border-bottom: 1px solid #bdbdbd;
    letter-spacing: 1px;
    font-size: 1.1em; }
    @media (min-width: 535px) {
      nav li {
        border: none; } }
  nav a {
    display: block; }
    @media (min-width: 535px) {
      nav a {
        -webkit-transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -ms-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        transition: color 0.4s ease; }
        nav a:hover {
          color: #bdbdbd; } }

footer {
  background-color: black;
  padding: 1.5em 0;
  position: relative; }
  footer p {
    text-align: center;
    font-size: .75em;
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
    color: white; }
    @media (min-width: 535px) {
      footer p {
        text-align: left; } }
  footer .top {
    margin-bottom: 1.5em;
    color: #bdbdbd;
    letter-spacing: 4px;
    text-align: center;
    display: block; }
    @media (min-width: 535px) {
      footer .top {
        display: inline-block;
        position: absolute;
        right: 3%;
        bottom: 12px;
        padding-bottom: .25em;
        border-bottom: 1px solid #bdbdbd;
        -webkit-transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -ms-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        transition: color 0.4s ease; }
        footer .top:hover {
          color: white; } }

h2 {
  font-size: 1.85em; }

.homeImages p {
  margin-top: .5em;
  margin-bottom: 2.5em;
  font-size: 1.1em;
  letter-spacing: 1px; }
@media (min-width: 535px) {
  .homeImages {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }
    .homeImages:hover {
      opacity: .8; } }

@media (min-width: 535px) {
  .homeRight {
    margin-left: 6%; } }

.oc .banner {
  background: url(../images/ocBanner.jpg) no-repeat right;
  background-size: contain;
  margin-bottom: 3em; }
  @media (min-width: 590px) {
    .oc .banner {
      margin-bottom: 5em; } }
  .oc .banner h2 {
    margin-bottom: 4em; }
    @media (min-width: 535px) {
      .oc .banner h2 {
        font-size: 2.2em; } }
    @media (min-width: 750px) {
      .oc .banner h2 {
        font-size: 2.5em;
        margin-bottom: 5em; } }

.grok .banner {
  background: url(../images/grokBanner.jpg) no-repeat right;
  background-size: 200px 160px;
  margin-bottom: 3em; }
  @media (min-width: 590px) {
    .grok .banner {
      background-size: contain;
      margin-bottom: 5em; } }
  .grok .banner h2 {
    margin-bottom: 4em; }
    @media (min-width: 535px) {
      .grok .banner h2 {
        font-size: 2.2em; } }
    @media (min-width: 750px) {
      .grok .banner h2 {
        font-size: 2.5em;
        margin-bottom: 5em; } }

.cff .banner {
  background: url(../images/cffBanner.jpg) no-repeat right;
  background-size: 165px 172px;
  margin-bottom: 3em; }
  @media (min-width: 590px) {
    .cff .banner {
      background-size: contain;
      margin-bottom: 5em; } }
  .cff .banner h2 {
    margin-bottom: 2.5em; }
    @media (min-width: 535px) {
      .cff .banner h2 {
        font-size: 2.2em; } }
    @media (min-width: 750px) {
      .cff .banner h2 {
        font-size: 2.5em;
        margin-bottom: 3em; } }

.conquest .banner {
  background: url(../images/conquestBanner.jpg) no-repeat right;
  background-size: 167px 145px;
  margin-bottom: 3em; }
  @media (min-width: 590px) {
    .conquest .banner {
      background-size: contain;
      margin-bottom: 5em; } }
  .conquest .banner h2 {
    margin-bottom: 2.5em; }
    @media (min-width: 535px) {
      .conquest .banner h2 {
        font-size: 2.2em; } }
    @media (min-width: 750px) {
      .conquest .banner h2 {
        font-size: 2.5em;
        margin-bottom: 5em; } }

.process .banner {
  background: url(../images/processBanner.jpg) no-repeat right;
  background-size: contain;
  margin-bottom: 3em;
  padding-bottom: 4.5em; }
  @media (min-width: 590px) {
    .process .banner {
      margin-bottom: 5em;
      padding-bottom: 7.5em; } }
  @media (min-width: 535px) {
    .process .banner h2 {
      font-size: 2.2em; } }
  @media (min-width: 750px) {
    .process .banner h2 {
      font-size: 2.5em;
      margin-bottom: 2em; } }

.contact .banner {
  background: url(../images/contactBanner.jpg) no-repeat right;
  background-size: contain;
  margin-bottom: 3em; }
  @media (min-width: 590px) {
    .contact .banner {
      background-size: contain;
      margin-bottom: 5em; } }
  .contact .banner h2 {
    margin-bottom: 2.5em; }
    @media (min-width: 535px) {
      .contact .banner h2 {
        font-size: 2.2em; } }
    @media (min-width: 750px) {
      .contact .banner h2 {
        font-size: 2.5em;
        margin-bottom: 4em; } }

.banner p {
  font-size: 1.2em; }
  @media (min-width: 535px) {
    .banner p {
      font-size: 1.35em; } }
  @media (min-width: 590px) {
    .banner p {
      font-size: 1.5em; } }

.workSampleWrap img {
  margin-bottom: 3em; }
@media (min-width: 750px) {
  .workSampleWrap {
    width: 55%;
    display: inline-block; } }

.projectDescr h3 {
  font-size: 1.6em;
  letter-spacing: 1px;
  margin-bottom: .3em; }
.projectDescr p {
  line-height: 1.5;
  margin-top: 0; }
.projectDescr ul {
  margin-top: 0; }
.projectDescr li {
  line-height: 1.5; }
.projectDescr .linkTitle {
  font-size: 1.18em; }
.projectDescr a {
  text-transform: lowercase;
  font-weight: 300;
  font-size: 1.6em;
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: .25em 0;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  @media (min-width: 535px) {
    .projectDescr a:hover {
      color: #bdbdbd; } }
  @media (min-width: 750px) {
    .projectDescr a {
      display: inline-block;
      text-align: left;
      border-top: none;
      padding: .1em 0; } }
@media (min-width: 750px) {
  .projectDescr {
    width: 35%;
    display: inline-block;
    margin-left: 6%;
    vertical-align: top; }
    .projectDescr h3 {
      margin-top: 0; }
    .projectDescr p {
      margin-bottom: 3em; }
    .projectDescr .execution {
      margin-bottom: 3em; } }

.prevNext {
  position: relative;
  padding: 1em; }
  .prevNext .prev {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.25em;
    letter-spacing: 4px;
    color: black;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease; }
    @media (min-width: 535px) {
      .prevNext .prev:hover {
        color: #bdbdbd; } }
  .prevNext .next {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.25em;
    letter-spacing: 4px;
    color: black;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease; }
    @media (min-width: 535px) {
      .prevNext .next:hover {
        color: #bdbdbd; } }

.process p {
  line-height: 1.5; }
.process .intro {
  margin-bottom: 3em;
  font-size: 1.1em; }
.process .processSection {
  padding: 2em 0;
  border-top: 1px solid #bdbdbd; }
  .process .processSection h3 {
    margin-top: 0; }
  .process .processSection p {
    margin: 0; }

.contact .intro {
  font-size: 1.2em; }
.contact .projectDescr a {
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: .05em; }

/*# sourceMappingURL=styles.css.map */
