.oc .banner {
	background: url(../images/ocBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;
	
	@include breakpoint($awk){
		margin-bottom: 5em;
	}

	h2 {
		margin-bottom: 4em;

		@include breakpoint($med){
			font-size: 2.2em;
		}

		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 5em;
		}

	}
}

.grok .banner {
	background: url(../images/grokBanner.jpg) no-repeat right;
	background-size: 200px 160px;
	margin-bottom: 3em;

	@include breakpoint($awk){
		background-size: contain;
		margin-bottom: 5em;
	}

	h2 {
		margin-bottom: 4em;

		@include breakpoint($med){
			font-size: 2.2em;
			
		}
		
		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 5em;
		}
		
	}
}

.cff .banner {
	background: url(../images/cffBanner.jpg) no-repeat right;
	background-size: 165px 172px;
	margin-bottom: 3em;

	@include breakpoint($awk){
		background-size: contain;
		margin-bottom: 5em;
	}

	h2 {
		margin-bottom: 2.5em;

		@include breakpoint($med){
			font-size: 2.2em;
		}

		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 3em;
		}
	}
}

.conquest .banner {
	background: url(../images/conquestBanner.jpg) no-repeat right;
	background-size: 167px 145px;
	margin-bottom: 3em;
	
	@include breakpoint($awk){
		background-size: contain;
		margin-bottom: 5em;
	}
	h2 {
		margin-bottom: 2.5em;

		@include breakpoint($med){
			font-size: 2.2em;
		}

		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 5em;
		}
	}
}


.process .banner {
	background: url(../images/processBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;
	padding-bottom: 4.5em;
	
	@include breakpoint($awk){
		margin-bottom: 5em;
		padding-bottom: 7.5em;
	}

	h2 {
		@include breakpoint($med){
			font-size: 2.2em;
		}

		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 2em;
		}
	}
}

.contact .banner {
	background: url(../images/contactBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;
	
	@include breakpoint($awk){
		background-size: contain;
		margin-bottom: 5em;
	}

	h2 {
		margin-bottom: 2.5em;

		@include breakpoint($med){
			font-size: 2.2em;
		}

		@include breakpoint($xmed){
			font-size: 2.5em;
			margin-bottom: 4em;
		}
	}
	
}

.banner p {
	font-size: 1.2em;

	@include breakpoint($med){
		font-size: 1.35em;
	}

	@include breakpoint($awk){
		font-size: 1.5em;
	}
}