.oc .banner {
	background: url(../images/ocBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;

	h2 {
		margin-bottom: 4em;
	}
}

.grok .banner {
	background: url(../images/grokBanner.jpg) no-repeat right;
	background-size: 200px 160px;
	margin-bottom: 3em;

	h2 {
		margin-bottom: 4em;
	}
}

.cff .banner {
	background: url(../images/cffBanner.jpg) no-repeat right;
	background-size: 165px 172px;
	margin-bottom: 3em;

	h2 {
		margin-bottom: 2.5em;
	}
}

.conquest .banner {
	background: url(../images/conquestBanner.jpg) no-repeat right;
	background-size: 167px 145px;
	margin-bottom: 3em;

	h2 {
		margin-bottom: 2.5em;
	}
}


.process .banner {
	background: url(../images/processBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;
	padding-bottom: 4.5em;
	
}

.contact .banner {
	background: url(../images/contactBanner.jpg) no-repeat right;
	background-size: contain;
	margin-bottom: 3em;
	padding-bottom: 4.5em;
	
}