footer {
	background-color: black;
	padding: 1.5em 0;
	position: relative;

	p {
		text-align: center;
		font-size: .75em;
		letter-spacing: 4px;
		font-weight: 300;
		text-transform: uppercase;
		color: white;

		@include breakpoint($med){
			text-align: left;
		}
	}



	.top {
		
		margin-bottom: 1.5em;
		color: $gray;
		letter-spacing: 4px;
		text-align: center;
		display: block;



		@include breakpoint($med){
			display: inline-block;
			position: absolute;
			right: 3%;
			bottom: 12px;
			padding-bottom: .25em;
			border-bottom: 1px solid $gray;
			
			@include transition(color, .4s, ease);

			&:hover{
				color: white;
			}
		}
	}
}