header {
	background-color: black;
	padding: 1.5em 0;
	h1 {
		text-align: center;
		font-size: .9em;
		letter-spacing: 4px;

		@include breakpoint($med) {
			text-align: left;
		}
	}

	@include breakpoint($med){
		margin-bottom: 4em;
	}
}

nav {
	padding: 0 3%;
	margin-bottom: 4em;

	@include breakpoint($large){
		padding: 0 7%;
	}
	
	ul {
		margin: .3em 0;

		@include breakpoint($med) {
			width: 25%;
		}
	}

	li {
		padding: .55em 0;
		border-bottom: 1px solid $gray;
		letter-spacing: 1px;
		font-size: 1.1em;

		@include breakpoint($med){
			border: none;			
		}
	}

		a {
			display: block;
			@include breakpoint($med){

				@include transition(color, .4s, ease);
			
				&:hover {
					color: $gray;
				}
			}
		}

}