.workSampleWrap {
	img {
		margin-bottom: 3em;
	}

	@include breakpoint($xmed){
		width: 55%;
		display: inline-block;
	}
}

.projectDescr {
	h3 {
		font-size: 1.6em;
		letter-spacing: 1px;
		margin-bottom: .3em;
	}

	p {
		line-height: 1.5;
		margin-top: 0;
	}
	
	ul {
		margin-top: 0;
	}
	li {
		line-height: 1.5;
	}
	
	.linkTitle {
		font-size: 1.18em;
	}

	a {
		text-transform: lowercase;
		font-weight: 300;
		font-size: 1.6em;
		display: block;
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;
		border-top: 1px solid $gray; 
		border-bottom: 1px solid $gray; 
		padding: .25em 0;


		@include transition(color, .4s, ease);

		@include breakpoint($med){
			&:hover{
				color: $gray;
			}
		}
		
		@include breakpoint($xmed){
			display: inline-block;
			text-align: left;
			border-top: none;
			padding: .1em 0;
		}
	}

	@include breakpoint($xmed){
		width: 35%;
		display: inline-block;
		margin-left: 6%;
		vertical-align: top;

		h3 {
			margin-top: 0;
		}

		p {
			margin-bottom: 3em;
		}

		.execution {
			margin-bottom: 3em;
		}
	}
}

.prevNext {
	position: relative;
	padding: 1em;

	
	.prev {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 1.25em;
		letter-spacing: 4px;
		color: black;
		@include transition(color, .4s, ease);
		
		@include breakpoint($med){
			&:hover{
				color: $gray;
			}
		}
	}
	.next {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1.25em;
		letter-spacing: 4px;
		color: black;
		@include transition(color, .4s, ease);

		@include breakpoint($med){
			&:hover{
				color: $gray;
			}
		}
	}
}